<template name="createResources">
	<h4>New Resource</h4>
	<form>

		<div class="input-field">
			<label for="resourceNameInput">Resource Name</label>
			<input type="text" name="resourceName" id="resourceNameInput" required>
		</div>

		<div class="input-field">
			<label for="resourceDescriptionInput">Resource Description</label>
			<input type="text" name="resourceDescription" id="resourceDescriptionInput" required>
		</div>

		{{> selectTags}}

		<br>

		<button type="submit" class="btn btn-default">Create Resource<i class="material-icons right">send</i></button>
	</form>

</template>