<template name="createResources">
	<h4>New Resource</h4>
	<form>

		<div class="input-field">
			<label for="resourceNameInput">Resource Name</label>
			<input type="text" name="resourceName" id="resourceNameInput" required>
		</div>

		<div class="input-field">
			<label for="resourceDescriptionInput">Resource Description</label>
			<input type="text" name="resourceDescription" id="resourceDescriptionInput" required>
		</div>

		<div class="row">

			<div class="input-field col s4">
				<label for="viewPermissionInput">View Permission</label>
				<input type="text" name="viewPermission" id="viewPermissionInput" required>
			</div>

			<div class="input-field col s4">
				<label for="reservePermissionInput">Reserve Permission</label>
				<input type="text" name="reservePermission" id="reservePermissionInput" required>
			</div>
                        
            <div class="input-field col s4">
                <label for="approvePermissionInput">Approval Permission</label>
                <input type="text" name="approvePermission" id="approvePermissionInput" required>
            </div>

		</div>


		{{> selectTags}}

		<br>

		<button type="submit" class="btn btn-default">Create Resource<i class="material-icons right">send</i></button>
	</form>

</template>
