<template name="createResources">
	<form>

		<div class="form-group">
			<label for="resourceNameInput">Resource Name</label>
			<input type="text" class="form-control" name="resourceName" id="resourceNameInput" placeholder="Resource Name" required>
		</div>

		<div class="form-group">
			<label for="resourceDescriptionInput">Resource Description</label>
			<input type="text" class="form-control" name="resourceDescription" id="resourceDescriptionInput" placeholder="Description for your new resource" required>
		</div>

		{{> selectTags}}

		<br>

		<button type="submit" class="btn btn-default">Create Resource</button>
	</form>
	
</template>