<template name="selectTags">

    <div class="row valign-wrapper">
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn col s2' href='#' data-activates='dropdown1' style="margin-left: 0;">Choose tags</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            {{#each availableTags}}
                <li><a class="selected-tag" href="#">{{this}}</a></li>
            {{/each}}
        </ul>

        <div class="input-field col s3 offset-s1">
            <label for="newTagInput">New Tag</label>
            <input type="text" name="newTag" id="newTagInput">
        </div>
        <div class="right">
            <a class="new-tag-button btn-floating waves-effect waves-light" href="#"><i class="material-icons">add</i></a>
        </div>
    </div>

    <div>
        {{#each selectedTags}}
            {{> selectedTagChip}}
        {{/each}}
    </div>

</template>