<template name="search">
    <div>

        <div class="row">
            <div class="input-field col s6">
                <h4>Search Resources</h4>
                <input placeholder="Enter resource name/description" id="search_entry" type="text" class="validate">
            </div>

            <div class="col s4">
                <h5>Tags</h5>
                {{>tags}}
            </div>
        </div>

        <div class="row">
            <h5 style="margin-left: 10px;">Available in Time Span:</h5>
            <div class="input-field col s2">
                <input type="date" class="datepicker" id="start_date">
                <label for="start_date">Start date</label>
            </div>
            <div class="input-field col s2">
                <input type="time" id="start_time">
                <label class="active" for="start_time">Start time</label>
            </div>
            <div class="input-field col s2 offset-s1">
                <input type="date" class="datepicker" id="end_date">
                <label for="end_date">End date</label>
            </div>
            <div class="input-field col s2">
                <input type="time" id="end_time">
                <label class="active" for="end_time">End time</label>
            </div>
        </div>

        <!-- <div class="row">
            <div class="input-field col s6">
                <h4>Search Resources</h4>
                <input placeholder="Enter resource name/description" id="search_entry" type="text" class="validate">
            </div>

            <div class="col s4">
                <h4>Tags</h4>
                {{>tags}}
            </div>
        </div> -->

        <!-- Sort button -->
        <a class="waves-effect waves-light btn fc-sort" data-fc-sort="name">
            {{#if fcSort.name.desc}}
                Sorted desc
            {{else}}
                {{#if fcSort.name.asc}}
                    Sorted asc
                {{else}}
                    Unsorted
                {{/if}}
            {{/if}}
        </a>
        <ul class="collection">
            {{#each filteredFcResults}}
                {{> resourceItem }}
            {{/each}}
        </ul>
    </div>
</template>
