<template name="search">
    <div>
        <h3>Time Span</h3>
        <!--{{>timeSpan}}-->

        <h3>Tags</h3>
        {{>tagsFilter}}

        <h3>Resources</h3>
        <a class="waves-effect waves-light btn fc-sort" data-fc-sort="name">
            Sort {{#if fcSort.name.desc}}desc{{/if}} {{#if fcSort.name.asc}}asc{{/if}}
        </a>

        <ul class="collection">
            {{#each fcResults}}
                {{> resourceItem }}
            {{/each}}
        </ul>
    </div>
</template>