<template name="tagChip">
	<div class="chip">
        {{this}}
        <i class="material-icons">close</i>
    </div>
</template>

<template name="tagChipNoX">
	<div class="chip">
        {{this}}
    </div>
</template>

<template name="requiredTagChip">
    <div class="chip">
        {{this}}
        <i class="material-icons close-required-tag-chip">close</i>
    </div>
</template>

<template name="excludedTagChip">
    <div class="chip">
        {{this}}
        <i class="material-icons close-excluded-tag-chip">close</i>
    </div>
</template>