<template name="tagChip">
	<div class="chip">
        {{this}}
        <i class="material-icons mdi-navigation-close"></i>
    </div>
</template>

<template name="tagChipNoX">
	<div class="chip">
        {{this}}
    </div>
</template>

<template name="requiredTagChip">
    <div class="chip">
        {{this}}
        <i class="material-icons mdi-navigation-close close-required-tag-chip"></i>
    </div>
</template>

<template name="excludedTagChip">
    <div class="chip">
        {{this}}
        <i class="material-icons mdi-navigation-close close-excluded-tag-chip"></i>
    </div>
</template>