<template name="tagsFilter">

    <!-- Required tags section -->

    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Choose required tags</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        {{#each availableTags}}
            <li><a class="required-tag" href="#!">{{this}}</a></li>
        {{/each}}
    </ul>

    <div>
        {{#each selectedRequiredTags}}
            {{> tagChip}}
        {{/each}}
    </div>

    <!-- Excluded tags section -->

    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Choose excluded tags</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown2' class='dropdown-content'>
        {{#each availableTags}}
            <li><a class="excluded-tag" href="#!">{{this}}</a></li>
        {{/each}}
    </ul>

    <div>
        {{#each selectedExcludedTags}}
            {{> tagChip}}
        {{/each}}
    </div>

</template>