<template name="timeSpan">
    <!--Date/time picker adapted from https://eonasdan.github.io/bootstrap-datetimepicker/#linked-pickers -->
    <div class="container">
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='startdatetimepicker'>
                    <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='enddatetimepicker'>
                    <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>
    </div>
</template>