<template name="approvals">
	<h2>My Approvals</h2>
    <div class="collection">
		{{#each reservationsToApprove}}
			{{> reservationApprovalItem}}
	    {{/each}}
    </div>
</template>

<template name="reservationApprovalItem">
    <a href="/reservation/{{_id}}" class="collection-item row">
    	<div class="valign-wrapper">
	    	<div class="col s8" style="margin-left: 0px; padding: 0px;">
	        	<h5>{{title}}</h5>
	        	<p>{{description}}</p>
	        </div>
	        <div class="right" style="margin-left: 50px;">
	        	<a href="#" class="waves-effect waves-light btn-large secondary-content green approveButton"><i class="material-icons right">check_circle</i>Approve</a>
	        </div>
	        <div class="right" style="margin-left: 15px;">
	        	<a href="#" class="waves-effect waves-light btn-large secondary-content red denyButton"><i class="material-icons right">cancel</i>Deny</a>
	        </div>
        </div>
        
    </a>
</template>