<template name="reservation">
    <div>
        <h4 id="reservationStatus"></h4>

        <!-- Owner -->
        <div class="section">
            <h5>Owner</h5>
            <p id="owner_name"></p>
        </div>
        <div class="divider"></div>


        <!-- Title -->
        <div class="section">
            {{#if canManageReservation}}
                <a href="#editReservationTitle" class="waves-effect waves-light modal-trigger btn-floating right red">
                    <i class="material-icons right">edit</i>
                </a>
            {{/if}}

            <!-- Modal Structure -->
            <div id="editReservationTitle" class="modal">
                <div class="modal-content">
                    <h4>Edit Reservation Title</h4>
                    <input placeholder="New Title" id="reservation_title_entry" type="text" class="validate">
                </div>
                <div class="modal-footer">
                    <a id="save_reservation_title"
                       class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
                </div>
            </div>

            <h5>Title</h5>
            <p id="title"></p>
        </div>
        <div class="divider"></div>


        <!-- Description -->
        <div class="section">
            {{#if canManageReservation}}
                <a href="#editReservationDescription"
                   class="waves-effect waves-light modal-trigger btn-floating right red">
                    <i class="material-icons right">edit</i>
                </a>
            {{/if}}

            <!-- Modal Structure -->
            <div id="editReservationDescription" class="modal">
                <div class="modal-content">
                    <h4>Edit Reservation Description</h4>
                    <input placeholder="New Description" id="reservation_description_entry" type="text"
                           class="validate">
                </div>
                <div class="modal-footer">
                    <a id="save_reservation_description"
                       class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
                </div>
            </div>

            <h5>Description</h5>
            <p id="description"></p>
        </div>
        <div class="divider"></div>


        <!-- Resources -->
        <div class="section">
            <h5>Resources</h5>
            <ul class="collection">
                {{#each resources}}
                    {{> reservationResourceItem }}
                {{/each}}
            </ul>
        </div>
        <div class="divider"></div>


        <!-- Duration -->
        <h5>Duration</h5>
        <div>
            <!-- Start -->
            <div class="row">
                <div class="col s5">
                    <ul>
                        <li><b>Start</b></li>
                        <li id="start_date"></li>
                    </ul>
                </div>

                <div class="col s5">
                    <ul>
                        <li><b>End</b></li>
                        <li id="end_date"></li>
                    </ul>
                </div>

                <div class="col s2">
                    {{#if canManageReservation}}
                        <a href="#edit_duration_modal"
                           class="waves-effect waves-light modal-trigger btn-floating left red tooltipped"
                           data-position="bottom" data-delay="50" data-tooltip="Reduce Duration">
                            <i class="material-icons left">edit</i>
                        </a>
                    {{/if}}
                </div>

                <!-- Modal Structure -->
                <div id="edit_duration_modal" class="modal">
                    <div class="modal-content" style="padding-bottom: 100px">
                        <div class="input-field">
                            <input type="date" class="datepicker center-align" id="start_date_input">
                            <label class="active center-align" for="start_date_input">Start date</label>
                        </div>
                        <div class="input-field center-align">
                            <input type="time" class="center-align" id="start_time_input">
                            <label class="active center-align" for="start_time_input">Start time</label>
                        </div>
                        <div class="input-field">
                            <input type="date" class="datepicker center-align" id="end_date_input">
                            <label class="active center-align" for="end_date_input">End date</label>
                        </div>
                        <div class="input-field center-align">
                            <input type="time" class="center-align" id="end_time_input">
                            <label class="active center-align" for="end_time_input">End time</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a id="save_duration"
                           class=" modal-action waves-effect waves-green btn-flat">Save</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="divider"></div>

        <!-- TODO: Move to approval page -->
        <div class="section">
           <a id="approve_reservation" class="waves-effect waves-light btn"> Approve Reservation  </a>
        </div>


        {{#if canManageReservation}}
            <div class="section">
                <a class="modal-trigger waves-effect waves-light btn" href="#cancel_reservation_modal">Cancel Reservation</a>
            </div>

            <!-- Modal Structure -->
            <div id="cancel_reservation_modal" class="modal">
                <div class="modal-content">
                    <h4>Confirm Cancellation</h4>
                    <p>Cancel reservation?</p>
                </div>
                <div class="modal-footer">
                    <a id="cancel_reservation_btn" class="modal-action modal-close waves-effect waves-green btn-flat ">Proceed</a>
                </div>
            </div>

        {{/if}}
    
    </div>
</template>
