<template name="editGroup">
	<h3>{{name}}
	<!-- <li class="collection-item"><div><a href="#!" class="secondary-content deleteGroupButton"><i class="material-icons">delete</i></a></div></li> -->
	<a href="#!" class="waves-effect waves-light btn-floating red deleteGroupButton right"><i class="material-icons right">delete</i></a></h3>
	<div class="row">
		<ul class="collection with-header col s5" style="overflow: visible;">
			<li class="collection-header"><h4>Permissions</h4></li>
			{{#each groupPermissions}}
				<li class="collection-item"><div><span>{{this}}</span><a href="#!" class="secondary-content deletePermissionButton"><i class="material-icons">delete</i></a></div></li>
			{{/each}}
			<li class="collection-item row">
				<div class="valign-wrapper">
					<div class="input-field col s10" style="margin-top: 0; margin-left: 0px; padding: 0px;">
						<input type="text" name="permissionName" id="permissionNameInput" placeholder="New Permission">
					</div>
					<div class="right" style="margin-left: 5px;">
						{{> selectPermission}}
					</div>
					<div class="right" style="margin-left: 30px;">
						<a href="#!" class="secondary-content waves-effect waves-light btn-floating red addPermissionButton"><i class="material-icons">add</i></a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collection with-header col s5 offset-s1">
			<li class="collection-header"><h4>Members</h4></li>
			{{#each groupMembers}}
				<li class="collection-item"><div><span>{{this}}</span><a href="#!" class="secondary-content removeMemberButton"><i class="material-icons">delete</i></a></div></li>
			{{/each}}
			<li class="collection-item row">
				<div class="valign-wrapper">
					<div class="input-field col s10" style="margin-top: 0; margin-left: 0px; padding: 0px;">
						<input type="text" name="newMemberName" id="newMemberNameInput" placeholder="New Member Username">
					</div>
					<div class="col s2">
						<a href="#!" class="secondary-content waves-effect waves-light btn-floating red addMemberButton"><i class="material-icons">group_add</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>

</template>