<template name="editUser">
	<h3 class="col s4">{{username}}</h3>
	<div class="row">
		<p style="display: inline; margin-right: 30px;">
			<input type="checkbox" class="filled-in" id="admin_checkbox" />
  			<label for="admin_checkbox">Admin</label>
		</p>
		<p style="display: inline; margin-right: 30px;">
			<input type="checkbox" class="filled-in" id="manage_users_checkbox" />
  			<label for="manage_users_checkbox">Manage Users</label>
		</p>
		<p style="display: inline; margin-right: 30px;">
			<input type="checkbox" class="filled-in" id="manage_resources_checkbox" />
  			<label for="manage_resources_checkbox">Manage Resources</label>
		</p>
		<p style="display: inline; margin-right: 30px;">
			<input type="checkbox" class="filled-in" id="manage_reservations_checkbox" />
  			<label for="manage_reservations_checkbox">Manage Reservations</label>
		</p>
	</div>
	<div class="row">
		<ul class="collection with-header col s5">
			<li class="collection-header"><h4>Permissions</h4></li>
			{{#each userPermissions}}
				<li class="collection-item"><div><span>{{this}}</span><a href="#!" class="secondary-content deletePermissionButton"><i class="material-icons">delete</i></a></div></li>
			{{/each}}
			<li class="collection-item row">
				<div class="valign-wrapper">
					<div class="input-field col s10" style="margin-top: 0; margin-left: 0px; padding: 0px;">
						<input type="text" name="permissionName" id="permissionNameInput" placeholder="New Permission">
					</div>
					<div class="col s2">
						<a href="#!" class="secondary-content waves-effect waves-light btn-floating red addPermissionButton"><i class="material-icons">add</i></a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collection with-header col s5 offset-s1">
			<li class="collection-header"><h4>Groups</h4></li>
			{{#each userGroups}}
				<li class="collection-item"><div><span>{{name}}</span><a href="#!" class="secondary-content removeGroupButton"><i class="material-icons">delete</i></a></div></li>
			{{/each}}
			<li class="collection-item row">
				<div class="valign-wrapper">
					<div class="input-field col s10" style="margin-top: 0; margin-left: 0px; padding: 0px;">
						<input type="text" name="joinGroupName" id="joinGroupNameInput" placeholder="New Group for User">
					</div>
					<div class="col s2">
						<a href="#!" class="secondary-content waves-effect waves-light btn-floating red addGroupButton"><i class="material-icons">group_add</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>

</template>